@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Open+Sans:wght@600&family=Pacifico&family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,200&family=Raleway&family=Roboto:wght@500;900&family=Smooch&family=Ubuntu&display=swap');
*{    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    position: relative;
    height: 100%;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}
ul, ol {
    margin: 0;
}
p {
    padding: 0;
    margin: 0 0 30px 0;
}
li{
    padding: 0;
    margin: 0;
}
a{
    color: #007bff;
    text-decoration: none;
    transition: all 0.5s;
}
.sticky-social {
  position: fixed;
  top: 350px;
  left: -32px;
  padding: 0px;
  margin: 0px;
  z-index: 9999;
}

.social {
  list-style: none;
}

.social li a {
  color: #fff;
}

.social li {
  padding: 10px 10px;
  font-size: 25px;
  color: #fff;
  transition: all 0.8s ease-in-out;
}

.social li:hover {
  margin-right: -30px;
  box-shadow: 2px 5px 10px grey;
}

.social li:hover .fa {
  margin-left: 0px;

}

.fa {
  color: #fff;
  transition: all 0.8s ease-in-out;
}

.fb {
  background-color: #005de0;
}

.twitter {
  background-color: #ccc;
}

.insta {
  background-color: #DC4F42;
}

.pin {
  background-color: #CB2128;
}

.vim {
  background-color: #59BFBE;
}

.sidebar-widget {
    margin-top: 45px;
}
.sidebar-widget .widget-title {
    margin-top: 25px;
    margin-bottom: 25px;
}
.btn:hover{
    transition: all 0.5s;
    box-shadow: none;
    color: #005de0;
    background: #fff;
}
.btn:focus{
    box-shadow: none;
}
.sidebar-widget .widget-title .title {
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    color: #333333;
    display: inline-block;
}
.sidebar-menu {
    position: fixed;
    top: 40%;
    right: 0;
    z-index: 99;
    writing-mode: vertical-rl;
}
.sidebar-menu .inquery-btn {
    font-size: 16px;
    font-weight: bold;
    padding: 20px 5px;
    cursor: pointer;
    border-radius: 0.2rem
}
.btn-primary {
    background-color: #005de0;
    border-color: #005de0;
    color: #ffffff;
}
#header{
    height: 80px;
    transition: all 0.5s linear;
    background: #fff;
    box-shadow: 0px 0px 30px rgb(127 137 161 / 30%);
}
#header .logo img {
    padding: 0;
    max-height: 50px;
    
}
.navbar{
    padding: 0;
}
.navbar ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar li{
    position: relative;
}
.navbar a:hover, .navbar .active, 
.navbar .active:focus, .navbar li:hover > a{
    color: #007bff;
}
.navbar a, .navbar a:focus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    transition: all 0.5s linear;
}
.navbar a i, .navbar a:focus i{
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}
.navbar .dropdown ul li{
    /* max-width: 200px; */
}
.navbar .dropdown ul a{
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
}
.navbar .dropdown ul a i{
    font-size: 12px;
}
.navbar .dropdown .dropdown ul{
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a{
    color: #007bff;
}
.navbar .dropdown:hover > ul{
    opacity: 1;
    top: 100%;
    visibility: visible;
}
@media (max-width: 1366px){
    .navbar .dropdown .dropdown ul{
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
        top: 0;
    }
}
@media (max-width: 991px){
.mobile-nav-toggle {
    display: block;
}
.mobile-nav-toggle{
    color: #283d50;
    font-size: 28px;
    display: block !important;
    cursor: pointer;
    line-height: 0;
    transition: all 0.5s linear;
}
.navbar ul {
    display: block;
}
#navbar ul{
    display: none;
}
#header {
    height: 50px;
}
#hero .hero-img {
    width: 80% !important;
    float: none !important;
    margin: 0 auto 25px auto !important;
}
#hero .hero-info {
    width: 80% !important;
    float: none !important;
    margin: auto !important;
    text-align: center !important;
}
#hero {
    padding: 140px 0 60px 0;
}
}
.mobile-nav-toggle{
    display: none;
}
.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}
.mobile-nav-toggle.bi-x {
    color: #fff;
}
/*  */
section{
    overflow: hidden;
}
#hero{
    width: 100%;
    position: relative;
    background: url(/image/hero-bg.png) center bottom no-repeat;
    background-size: cover;
    padding: 200px 0 120px 0;
}
#hero .hero-img{
    width: 50%;
    float: right;
}
#hero .hero-info {
    width: 50%;
    float: left;
}
#hero .hero-info h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 900;
}
#hero .hero-info h2 span {
    color: #74b5fc;
    text-decoration: underline;
}
#hero .hero-info .btn-get-started{
    background: #007bff;
    border: 2px solid #007bff;
    color: #fff;
}
#hero .hero-info .btn-get-started,
#hero .hero-info .btn-services{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0 20px 20px 0;
    color: #fff;
}
#hero .hero-info .btn-services{
    border: 2px solid #fff;
}
#hero .hero-info .btn-get-started:hover {
    background: none;
    border-color: #fff;
    color: #fff;
}
#hero .hero-info .btn-services:hover {
    background: #007bff;
    border-color: #007bff;
    color: #fff;
}
@media (max-width: 574px)
{
    #hero {
        padding: 100px 0 20px 0;
    }
}



@media (max-width: 767px){
    #hero .hero-info {
        width: 100%;
    }
    #hero .hero-info h2 {
        font-size: 34px;
        margin-bottom: 30px;
    }
}
/* About Us */
#about{
    background: #fff;
    padding: 60px 0;
}
.section-header h3{
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    position: relative;
}
.contact-us{
    font-size: 36px !important;
    color: #283d50 !important;
    text-align: center !important;
    font-weight: 500;
    position: relative;
    margin-bottom: 0px;
    margin: 0 0 20px 0;
    padding: 20px !important;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
}
/* #main1 {
    padding-bottom: 30px;
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    position: relative;
} */
.section-header p{
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #556877;
    width: 50%;
}
#about .about-container .content{
    background: #fff;
}
#about .about-container p{
    line-height: 26px;
}
#about .about-container .icon-box{
    background: #fff;
    background-size: cover;
    padding: 0 0 30px 0;
}
#about .about-container .icon-box .icon{
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #007bff;
    transition: all 0.3s ease-in-out;
}
#about .about-container .icon-box:hover .icon{
    background: #007bff;
}
#about .about-container .icon-box:hover .icon i{
    color: #fff;
}
#about .about-container .icon-box .icon i{
    color: #007bff;
    font-size: 24px;
    line-height: 0;
}
#about .about-container .icon-box .title{
    margin-left: 80px;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

#about .about-container .icon-box .title a{
    color: #283d50;
    
}
#about .about-container .icon-box .description{
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
    
}
#about .about-container p:last-child {
    margin-bottom: 0;
}
#about .about-container .background{
    margin: 20px 0;
}
#about .about-extra{
    padding-top: 60px;
}
#about .about-extra h4{
    font-weight: 600;
    font-size: 24px;
}
/* Services */
#services{
    padding: 60px 0 40px 0;
    box-shadow: inset 0px 0px 12px 0px rgb(0 0 0 / 10%);
}
.section-bg {
    background: #ecf5ff;
}
#services .box{
    border-radius: 12px !important;
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
    transition: all 0.3s ease-in-out;
}
#services .icon {
    position: absolute;
    left: 8px;
    top: calc(50% - 32px);
}
#services .icon i {
    font-size: 58px;
    line-height: 0;
    transition: 0.5s;
}
#services .title {
    margin-left: 45px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}
#services .title a {
    color: #111;
}
#services .description {
    font-size: 14px;
    margin-left: 45px;
    line-height: 24px;
    margin-bottom: 0;
}
/* why us */
#why-us {
    padding: 60px 0;
    background: #004a99;
}
#why-us .section-header h3, #why-us .section-header p{
    color: #fff;
}
#why-us .card{
    background: #00458f;
    border-color: #00458f;
    border-radius: 10px;
    margin: 0 15px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s ease-in-out;
    height: 100%;
}
#why-us .card i {
    font-size: 48px;
    padding-top: 15px;
    color: #bfddfe;
}
#why-us .card h5 {
    font-size: 22px;
    font-weight: 600;
}
#why-us .card p {
    font-size: 15px;
    color: #d8eafe;
}
#why-us .card .readmore {
    color: #fff;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s ease-in-out;
    border-bottom: #00458f solid 2px;
}
#why-us .card .readmore:hover {
    border-bottom: #fff solid 2px;
}
#why-us .counters {
    padding-top: 40px;
}
#why-us .counters span {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    display: block;
    color: #fff;
}
#why-us .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #cce5ff;
}
/* Portfolio*/
#portfolio {
    padding: 60px 0;
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 10%);
}
#portfolio .member{
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
#portfolio .member .member-info{
    opacity: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    top: 0;
    align-items: center;
    left: 0;
    right: 0;
    transition: 0.2s;
}
#portfolio .member:hover .member-info{
    background: rgba(0, 62, 128, 0.7);
    opacity: 1;
    transition: 0.4s;
}
#portfolio .member .member-info-content{
    margin-top: 50px;
    transition: margin 0.2s;
}
#portfolio .member:hover .member-info-content{
    margin-top: 0;
    transition: margin 0.4s;
}
#portfolio .member h4{
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}
#portfolio .member span{
    display: block;
    font-size: 13px;
    color: #fff;
}
#portfolio .member .social {
    margin-top: 15px;
}
  .member .social a {
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.7);
}
#portfolio #team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}
#portfolio .member .social a:hover {
    color: #fff;
}
/* Contact Us */
#contact {
    background: #fff;
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 10%);
    padding: 60px 0;
    overflow: hidden;
}
#contact .section-header {
    padding-bottom: 30px;
}
#contact .info {
    color: #283d50;
}
#contact .info i {
    font-size: 32px;
    color: #007bff;
    float: left;
    line-height: 0;
}
#contact .info p {
    padding: 0 0 10px 36px;
    line-height: 28px;
    font-size: 14px;
}
/* counter */
#counter{
    background: #fff;
    padding: 60px 0;
}

#counter-header{
    font-family: "Montserrat", sans-serif;
    padding: 0 0 10px 0;
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    position: relative;
    width: 100%;
}

.mar-bottom{
    margin-bottom: 30px;
}
.counter-box {
	display: block;
	background: #f6f6f6;
	padding: 40px 20px 37px;
	text-align: center;
    transition: 0.3s;
}

.counter-box p {
	margin: 5px 0 0;
	padding: 0;
	color: #909090;
	font-size: 18px;
	font-weight: 500
}

.counter-box i {
	font-size: 60px;
	margin: 0 0 15px;
	color: #d2d2d2
}

.counter { 
	display: block;
	font-size: 32px;
	font-weight: 700;
	color: #666;
	line-height: 28px
}

.counter-box.colored {
      background: #004a99;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
	color: #fff
}
/* footer */
#footer {
    background: #00428a;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
}
#footer .footer-top {
    background: #004a99;
    padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
    margin-bottom: 30px;
}
#footer .footer-top .footer-info img{
    object-fit: contain;
    height: 63px;
}
#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}
#footer .footer-top .footer-info p {
    font-size: 13px;
    line-height: 30px;
    margin-bottom: 0;
    
    color: #ecf5ff;
}
#footer .footer-top .footer-links {
    margin-bottom: 30px;
}
#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    /*padding-bottom: 10px;*/
}
#footer .footer-top .footer-title{
    font-size: 14px;
    margin: 0 0 21px 0 !important;
    font-weight: bold;
    padding-top: 17px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    /*padding-bottom: 10px;*/
}
#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul li {
    padding: 8px 0;
}
#footer .footer-top .footer-links ul li:first-child{
    padding-top: 0;
}
#footer .footer-top .footer-links ul a {
    color: #ecf5ff;
}
#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #007bff;
    color: #fff;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
#footer .footer-top .social-links a i {
    line-height: 0;
}
#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 30px;
}
#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}
#footer .footer-top .footer-newsletter input[type=email]
{    border: 0;
    padding: 6px 8px;
    width: 65%;
}
#footer .footer-top .footer-newsletter input[type=submit]{
    background: #007bff;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 600;
}
/* Contact page */
#contact1 {
    background-color: #fff;
    padding: 60px 0;
    overflow: hidden;
    margin-top: 80px;
}
#contact1 .info i {
    font-size: 27px;
    color: #007bff;
    float: left;
    line-height: 0;
}
#contact1 .info p {
    padding: 0 0 10px 36px;
    line-height: 28px;
    font-size: 14px;
}
/*sidebar*/
.recent-posts ul{
    list-style: none;
}
.portfolio-info .recent-posts .post-link{
    display: flex;
    align-items: center;
}
.portfolio-info .recent-posts .post-thumb{
    margin-right: 20px;
}
.portfolio-info .recent-posts .post-thumb img{
    min-width:100px;
    max-width:100px;
    height: 70px !important;
    border-radius: 10px !important;
}
.portfolio-info .recent-posts .post-text h4{
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    margin: 0px;
    transition: all 0.3s linear;
}
.portfolio-info .recent-posts .post-text p{
    margin: 0px;
    font-size: 12px;
}

/* Single Page */
.breadcrumbs{
    padding: 20px 0;
    background-color: #f5f5f5;
    min-height: 40px;
    margin-top: 80px;
}
.breadcrumbs h2{
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}
.contact-title{
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
}
.breadcrumbs ol{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}
.breadcrumbs ol li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.breadcrumbs ol li + li{
    padding-left: 10px;
}
.breadcrumbs ol li + li::before{
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
}
.portfolio-details {
    padding-top: 40px;
}
.portfolio-details .portfolio-info{
    padding: 30px;
    box-shadow: 0px 0 30px rgb(40 61 80 / 8%);
}
.portfolio-details .portfolio-info h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul { 
    list-style: none;
    font-size: 15px;
    padding: 0px;
}
.portfolio-details .portfolio-info ul li + li {
    margin-top: 10px;
}
.portfolio-content-about{
    line-height: 30px;
     font-size: 17px;
}
.portfolio-content-main .portfolio-content{
    font-size: 14pt !important;
    color: #000000;
    background-color: transparent;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    vertical-align: baseline;
    white-space: pre-wrap;
    line-height: 30px !important;
}
.portfolio-content{
    margin: 30px 0px; 
    
}
.portfolio-content .content{
    font-family: 'Poppins', sans-serif;
}
.portfolio-content .shadow{
    padding: 20px;
    margin: 20px 0px;
}
/* blog */
.blog-details{
    padding: 40px 0px;
    background: #fff;
}
.card{
    box-shadow: 0px 2px 16px -7px #000;
    transition: 500ms;
}
.card a {
    padding: 10px;
}
.card img {
    border: 0.1px solid #ccc;
    border-radius: 8px;
}
.card:hover {
    /* transform: scale(.95, 0.95); */
}
/* pagination */
#pagination{
    background-color: #fff;
    padding: 10px 0px 20px 0px;
}
.about-content{
    padding: 20px;
    background-color: #fff;
    margin: 40px 0;
}